$zebraStripe: rgba(0,0,0,0.1);

body {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

header {
    display: flex;
    min-height: 2em;
    border: none;
    flex: 0 0 auto;

    #sentence {
        flex: 1 1 auto;
        display: inline-block;
        border-style: solid;
        border-width: 1px;
    }

    #say {
        display: inline-block;
        width: 4em;
        border-radius: 0.5em;
        background-image: url('images/speechBubbleWhite.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 3rem;
        width: 3rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

article {
    flex: 1 1 auto;
    overflow: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & > div {
        height: 100%;
        display: none;
    }

    &[data-active-tab="history"] > div#history,
    &[data-active-tab="favourites"] > div#favourites {
        display: block;
    }

    ul#historyList,
    ul#favouritesList {
        padding: 0;

        li {
            display: flex;
            align-items: center;
            padding: 0.3rem 0.5rem;

            span.favouriteStatus {
                flex: 0 0 auto;
                width: 3rem;
                height: 3rem;
                background-image: url('images/emptyStar.svg');
                background-repeat: no-repeat;
                background-size: contain;

                &[data-favourite="yes"] {
                    background-image: url('images/fullStar.svg');
                }
            }

            span.sentence {
                flex: 1 1 auto;
            }

            span.say {
                flex: 0 0 auto;
                background-image: url('images/speechBubble.svg');
                background-repeat: no-repeat;
                width: 3rem;
                height: 3rem;
                border-left-style: solid;
                border-left-color: $zebraStripe;
            }

            &:nth-child(odd) {
                background-color: $zebraStripe;
            }
        }
    }
}

footer {
    border: none;
    display: flex;
    flex: 0 0 auto;

    span.tabLabel {
        flex: 0 0 auto;
        border-style: solid;
        text-align: center;
        min-width: 10em;
    }

    &[data-active-tab="history"] > span[data-tab="history"],
    &[data-active-tab="favourites"] > span[data-tab="favourites"] {
        background-color: $zebraStripe;
    }

    span.filler {
        flex: 1 1 auto;
    }

    span#settings {
        background-image: url('images/cog.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 2rem;
        height: 2rem;
        flex: 0 0 auto;
        margin-right: 0.2rem;
    }
}

dialog {
    border-style: solid;
    margin: auto;
    padding: 0.5rem;

    div.options {
        text-align: right;
    }

    div.input{
        display: flex;

        label {
            display: inline-block;
            width: 10em;
        }

        input,
        select {
            display: inline-block;
            min-width: 20em;
        }
    }
}

@media screen and (max-width: 400px) {
    footer {
        span.tabLabel {
            min-width: 0;
            flex: 1 1 auto;
        }

        span.filler {
            display: none;
        }
    }
}
